
@import url('./variables.css');
/*  padding - margin */
 
 
.mt-1 {
margin-top: 1rem
}
.mt-2 {
margin-top: 2rem
}
.mt-3 {
margin-top: 3rem
}
.mt-4 {
margin-top: 4rem
}
.mt-5 {
margin-top: 5rem
}
.mt-6 {
margin-top: 6rem
}
.ml-1 {
margin-left: 1rem
}
.ml-2 {
margin-left: 2rem
        }
.ml-3 {
margin-left: 3rem
    }
.ml-4 {
margin-left: 4rem
        }
.ml-5 {
margin-left: 5rem
        }
.ml-6 {
margin-left: 6rem
        }
.mr-1 {
margin-right: 1rem
        }
.mr-2 {
margin-right: 2rem

        }
.mr-3 {
margin-right: 3rem

        }
.mr-4 {
margin-right: 4rem

        }
.mr-5 {
margin-right: 5rem

        }
.mr-6 {
margin-right: 6rem

        }
.mb-0-5 {
margin-bottom: 0.5rem
        }

.mb-1 {
margin-bottom: 1rem
        }

.mb-2 {
margin-bottom: 2rem
        }

.mb-3 {
margin-bottom: 3rem
        }

.mb-4 {
margin-bottom: 4rem
        }

.mb-5 {
margin-bottom: 5rem
        }

.mb-6 {
margin-bottom: 6rem
        }

.pt-1 {
padding-top: 1rem
      }
.pt-2 {
padding-top: 2rem
      }
.pt-3 {
padding-top: 3rem
      }
.pt-4 {
padding-top: 4rem
      }
.pt-5 {
padding-top: 5rem
      }
.pt-6 {
padding-top: 6rem
      }
.pl-1 {
padding-left: 1rem
      }
.pl-2 {
padding-left: 2rem
      }
.pl-3 {
padding-left: 3rem
      }
.pl-4 {
padding-left: 4rem
      }
.pl-5 {
padding-left: 5rem
      }
.pl-6 {
padding-left: 6rem
      }
.pr-1 {
padding-right: 1rem
      }
.pr-2 {
padding-right: 2rem
      }
.pr-3 {
padding-right: 3rem
      }
.pr-4 {
padding-right: 4rem
      }
.pr-5 {
padding-right: 5rem
      }
.pr-6 {
padding-right: 6rem
      }
.pb-1 {
padding-bottom: 1rem
      }
.pb-2 {
padding-bottom: 2rem
      }
.pb-3 {
padding-bottom: 3rem
      }
.pb-4 {
padding-bottom: 4rem
      }
.pb-5 {
padding-bottom: 5rem
      }
.pb-6 {
padding-bottom: 6rem
      }
/* end padding - margin */

.break-word {
  word-break: break-all
}

.space-normal {
  display: flex ;
  justify-content: normal
}

.space-between {
  display: flex ;
  justify-content: space-between
}

.justify-content-center {
  display: flex;
  justify-content: center
}

.div-border {
    border: 1px solid var(--border-div);
    color: #575757
}


.font-label {
    font-size: 14px;
    font-weight: 600;
}
 
 
.font-size-ico {
    font-size:19px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle
}

.vertical-align {
    vertical-align: middle
}

.select-color {
    color: #B02C64
}

.background-search {
    background:#F1F3F4
}

.background-search:focus {
    background: #FFF !important
}

.inputSearch > input[type="search"] {
    background:#F1F3F4 url('../images/search-24px.svg') no-repeat 2px center ;
    background-size: 0.85rem;
    color: #6C757D;
    background-position: 0.5rem;
    padding-left: 1.6rem;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    outline: none;
}
 

.scroll-global {
    overflow-y: auto;
}
.scroll-global::-webkit-scrollbar {
  width: 8px;
  height: 0.4rem;
  background: #FFF;
   
}

.scroll-global::-webkit-scrollbar:hover{
  width: 2px;
  height: 16px;
  background: #FFF;
  
}

.scroll-global::-webkit-scrollbar-thumb{
  background: #DADCE0;
  border-radius: 0.5rem
}

.scroll-global::-webkit-scrollbar-thumb:active{
  background: #A6ACAF
}

.white-space {
    white-space: nowrap
}



.div-body-date {
    padding: 4px 4px 4px 4px;
    position: relative;
    display: grid;
    cursor: pointer;
    opacity :1; 
    transition: opacity 0.5s
}


@media (min-width: 1281px) {
    .center-count {
        height: 50px;
        width: 50px;
        position: absolute;
        left: 35%;
        top: 35%;
        color:#FFF;
        font-size:14px
    }

    .input-search-width {
        width: 20rem;
        margin-right: 2rem
    }
    .right-desktop {
        text-align: right;
     }
    
.container-dates-label {
    width: 100%;
    display: grid ;
    grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
    grid-auto-rows: 20px; 
  }


 
.container-dates {
    width: 100%;
    display: grid ;
    grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
    grid-auto-rows: 95px;
    border-top: 1px solid var(--border-div);
    border-left: 1px solid var(--border-div);
  }

  .container-dates-label-week {
    width: 100%;
    display: grid ;
    grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
    grid-auto-rows: 60px; 
  }

  .container-dates-week {
    width: 100%;
    display: grid ;
    grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
    grid-auto-rows: 570px
  }

  

  .hour-format {
    position: absolute;
    top: -0.6rem;
    left:0rem; 
    background: white;
    padding-left: 0rem;
    padding-right: 0.4rem
  }

  .container-date-children {
    width: 100%;
    padding-left: 0.4rem;
    padding-right: 0.6rem;
    grid-gap: 8px;
    display: grid ;
    grid-template-columns: 49% 49% ;
    grid-auto-rows: 70px;
  }

.padding-left-right {
    padding: 2rem 1.8rem 2rem 1.8rem;
}   


.btn-calendar {
    white-space: nowrap; 
    width: 14vw; 
    overflow: hidden;
    text-overflow: ellipsis; 
    float: right;
}

 

.title-sub-menu {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%;
    /*padding-right: 1rem;*/
}


.align-center {
  display: flex; 
  align-items: center
}

.font-date-list {
  font-size:13px;
  color:black;   
  display: flex ;
  justify-content: flex-end; 
  align-items: center
}

.label-month {
    font-size: 22px;
}

.header-movil-title {
    display: none !important;
}

.header-desktop {
   display: block;
}

.header-movil {
    display: none;
}

.header-desktop-hours {
    display: block !important;
}
.header-desktop-text {
    display: block !important;
}

.header-desktop-title {
    display: block !important;
}

.font-title {
    font-size : 9px ;
    font-weight: 700;
    color:  var(--color-border);
}

.width-event > div:nth-child(1) {
    width: 18%;
}
.width-event > div:nth-child(2) {
   width: 15%;
}
.width-event > div:nth-child(3) {
  width: 8.2%;
}

.width-event > div:nth-child(4) {
   width: 15%;
}
.width-event > div:nth-child(5) {
  width: 20%;
}

}


.div-children-week{
    width: 100% ;
    height: 30px;  
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--border-div);
}

.div-week-border > div:nth-child(24) {
    border-bottom: 1px solid var(--border-div);
}

.div-week-border > div {
    border-right: 1px solid var(--border-div);
}


@media (min-width: 1025px) and (max-width: 1281px) {
.center-count {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 35%;
    top: 35%;
    color:#FFF;
    font-size:14px
}
    .div-body-date:hover {
        padding: 4px ;
        position: relative;
        cursor: pointer;
        /* border: 1px solid #95A5A6 !important;
        border-left: 0.15rem solid #95A5A6 !important; */
        color:#95A5A6 !important;
        -webkit-transition: color 0.8s;
        -webkit-transition: border 0.8s;
        -webkit-transition: border-left 0.8s;
        transition: color 0.8s;
        transition: border 0.8s;
        transition: border-left 0.8s;
        /* opacity : 0.5;  */
    }
    .right-desktop {
        text-align: right;
    }

    .input-search-width {
        width: 23rem;
        margin-right: 2rem
    }
       
    .container-dates-label {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 20px;
    }

    .container-dates-label-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 60px; 
      }

    .container-dates {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 95px;
        border-top: 1px solid var(--border-div);
        border-left: 1px solid var(--border-div);
    }

    .hour-format {
        position: absolute;
        top: -0.6rem;
        left:0rem; 
        background: white;
        padding-left: 0rem;
        padding-right: 0.4rem;
        font-size: 8px !important;
      }
    .container-date-children {
        width: 100%;
        padding-left: 0.4rem;
        padding-right: 0.6rem;
        grid-gap: 8px;
        display: grid ;
        grid-template-columns: 49% 49% ;
        grid-auto-rows: 70px;
      }

      
    .container-dates-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 570px;
      
    }

    .padding-left-right {
        padding: 2rem 1.8rem 2rem 1.8rem;
    }

    .mt-movil {
        margin-top: 0rem
    }

    .btn-calendar {
        white-space: nowrap; 
        width: 14vw;
        overflow: hidden;
        text-overflow: ellipsis; 
        float: right;
    }

    .center-movil-right {
        text-align: right !important;
     }

     .label-month {
        font-size: 22px;
    }
    
    .header-movil-title {
        display: none !important;
    }
    .header-desktop {
        display: block;
    }

    .header-movil {
        display: none;
    }

    .header-desktop-hours {
        display: block !important;
    }
    .header-desktop-text {
        display: block !important;
    }

    .header-desktop-title {
        display: block !important;
    }

    .font-title {
        font-size : 9px ;
        font-weight: 700;
        color:  var(--color-border);
    }

    .width-event > div:nth-child(1) {
        width: 18%;
    }
    .width-event > div:nth-child(2) {
       width: 15%;
    }
    .width-event > div:nth-child(3) {
      width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center-count {
        height: 50px;
        width: 50px;
        position: absolute;
        left: 35%;
        top: 35%;
        color:#FFF;
        font-size:14px
    }

    .right-desktop {
            text-align: center;
    }

    .input-search-width {
            width: 100%;    
    }
        
    .container-dates-label {
            width: 100%;
            display: grid ;
            grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
            grid-auto-rows: 20px;
    }

    .container-dates {
            width: 100%;
            display: grid ;
            grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
            grid-auto-rows: 95px;
            border-top: 1px solid var(--border-div);
            border-left: 1px solid var(--border-div);
    }

    .container-dates-label-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 60px; 
      }
      
      .container-dates-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 570px
      }

      .hour-format {
        position: absolute;
        top: -0.6rem;
        left:0rem; 
        background: white;
        padding-left: 0rem;
        padding-right: 0.4rem;
        font-size: 7px !important
      }
    
    .container-date-children {
        width: 100%;
        padding-left: 0.1rem;
        padding-right: 0.5rem;
        grid-gap: 8px;
        display: grid ;
        grid-template-columns: 49% 49% ;
        grid-auto-rows: 70px;
     
      }

    .padding-left-right {
        padding: 2rem 1rem 2rem 1rem;
    }

    .mt-movil {
        margin-top: 0rem
    }

    .btn-calendar {
        white-space: nowrap; 
        width: 14vw; 
        overflow: hidden;
        text-overflow: ellipsis; 
        float: none
    }

    .center-movil-right {
        text-align: right !important;
     }

    .label-month {
        font-size: 22px;
    }

    .header-desktop {
        display: block;
    }

    .header-movil {
        display: none;
    }

    .header-movil-title {
        display: none !important;
    }
    .header-desktop-hours {
        display: none !important;
    }
    .header-desktop-text {
        display: none !important;
    }

    .header-desktop-title {
        display: block !important;
    }

    .font-title {
        font-size : 9px ;
        font-weight: 700;
        color:  var(--color-border);
    }

    .width-event > div:nth-child(1) {
        width: 40%;
    }
    .width-event > div:nth-child(2) {
       width: 20%;
    }
    .width-event > div:nth-child(3) {
      width: 20%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .center-count {
        height: 50px;
        width: 50px;
        position: absolute;
        left: 35%;
        top: 35%;
        color:#FFF;
        font-size:14px
    }

    .div-body-date:hover {
        padding: 4px ;
        position: relative;
     
        cursor: pointer;
        /* border: 1px solid #95A5A6 !important;
        border-left: 0.15rem solid #95A5A6 !important; */
        color:#95A5A6 !important;
        -webkit-transition: color 0.8s;
        -webkit-transition: border 0.8s;
        -webkit-transition: border-left 0.8s;
        transition: color 0.8s;
        transition: border 0.8s;
        transition: border-left 0.8s;
        /* opacity : 0.5;  */
    }

    .right-desktop {
        text-align: center;
     }

     .input-search-width {
        width: 100%;
    }
    
    .container-dates-label {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 20px;
    }

    .container-dates {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 90px;
        border-top: 1px solid var(--border-div);
        border-left: 1px solid var(--border-div);
    }

    .hour-format {
        position: absolute;
        top: -0.6rem;
        left:0rem; 
        background: white;
        padding-left: 0rem;
        padding-right: 0.4rem;
        font-size: 7px !important
      }

    .container-dates-label-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 60px; 
      }
      
      .container-dates-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 570px
      }
    
    .container-date-children {
        width: 100%;  
        grid-gap: 2px;
        display: grid ;
        padding-top: 0px
    }

    .mt-movil {
        margin-top: 0.2rem
    }

    .btn-calendar {
        white-space: nowrap; 
        width: 11rem; 
        overflow: hidden;
        text-overflow: ellipsis; 
        float: none
    }

    .center-movil-right {
        text-align: right !important;
     }

    .label-month {
        font-size: 22px;
    }

    .header-desktop {
        display: block;
    }

    .header-movil {
        display: none;
    }
    .header-desktop-title {
        display: block !important;
    }

    .header-movil-title {
        display: none !important;
    }
    .header-desktop-hours {
        display: none !important;
    }
    
    .header-desktop-text {
        display: none !important;
    }

    .font-title {
        font-size : 9px ;
        font-weight: 700;
        color:  var(--color-border);
    }

    .width-event > div:nth-child(1) {
        width: 40%;
    }
    .width-event > div:nth-child(2) {
       width: 20%;
    }
    .width-event > div:nth-child(3) {
      width: 20%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .center-count {
        height: 20px;
        width: 20px;
        position: absolute;
        left: 35%;
        top: 5%;
        color:#FFF;
        font-size:14px
    }

    .div-body-date:hover {
        padding: 4px ;
        position: relative;
        
        cursor: pointer;
        /* border: 1px solid #95A5A6 !important;
        border-left: 0.15rem solid #95A5A6 !important; */
        color:#95A5A6 !important;
        -webkit-transition: color 0.8s;
        -webkit-transition: border 0.8s;
        -webkit-transition: border-left 0.8s;
        transition: color 0.8s;
        transition: border 0.8s;
        transition: border-left 0.8s;
        /* opacity : 0.5;  */
    }
    
    .right-desktop {
        text-align: center;
    }
    .center-movil {
        text-align: center !important;
    }

    .center-movil-right {
        text-align: center !important;
     }

    .input-search-width {
        width: 80%
    }
    .input-search-width {
        width: 100%;
    }

    .container-dates-label {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 20px;
    }


    .container-dates {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 90px;
        border-top: 1px solid var(--border-div);
        border-left: 1px solid var(--border-div);
    }

     .container-dates-label-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 60px; 
      }
      
      .hour-format {
        position: absolute;
        top: -0.6rem;
        left:0rem; 
        background: white;
        padding-left: 0rem;
        padding-right: 0.4rem;
        font-size: 7px !important
      }

      .container-dates-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 570px
      }
    
    .container-date-children {
        width: 100%;  
        grid-gap: 2px;
        display: grid ;
        padding-top: 5px
        
    }

    .padding-left-right {
        padding: 2rem 1.8rem 2rem 1.8rem;
    }
    
    .mt-movil {
        margin-top: 0.2rem
    }

    .btn-calendar {
        white-space: nowrap; 
        width: 11rem; 
        overflow: hidden;
        text-overflow: ellipsis; 
        float: none
    }

    .label-month {
        font-size: 20px;
    }

    .header-desktop {
        display: block;
    }

    .header-movil {
        display: none;
    }

    .header-movil-title {
        display: block !important;
    }

    .header-desktop-title {
        display: block !important;
    }
    
    .header-desktop-hours {
        display: none !important;
    }

    .header-desktop-text {
        display: none !important;
    }

    .font-title {
        font-size : 9px ;
        font-weight: 700;
        color:  var(--color-border);
    }

    .width-event > div:nth-child(1) {
        width: 40%;
    }
    .width-event > div:nth-child(2) {
       width: 20%;
    }
    .width-event > div:nth-child(3) {
      width: 20%;
    }
}

@media (min-width: 320px) and (max-width: 489px) {
 
    .center-count {
        height: 20px;
        width: 20px;
        position: absolute;
        left: 25%;
        top: 12%;
        color:#FFF;
        font-size:14px
    }

    .center-movil {
        text-align: left !important;
    }

    .center-movil-right {
        text-align: center !important;
    }

    .right-desktop {
        text-align: center;
    }
 
    .container-dates-label {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 20px  
    }

    .container-dates {
        width: 100%;
        display: grid ;
        grid-template-columns: 14.28% 14.28%  14.28%  14.28%  14.28%  14.28%  14.28% ;
        grid-auto-rows: 84px;
        border-top: 1px solid var(--border-div); 
    }

    .hour-format {
        position: absolute;
        top: -0.6rem;
        left:0rem; 
        background: white;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        font-size: 7px !important
      }

    .container-dates-label-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 60px; 
      }
      
      .container-dates-week {
        width: 100%;
        display: grid ;
        grid-template-columns: 4.1% 13.7% 13.7%  13.7%  13.7%  13.7%  13.7%  13.7% ;
        grid-auto-rows: 570px
      }    
    
     .container-date-children {
        width: 100%;  
        grid-gap: 2px;
        display: grid ;
        padding-top: 5px
        
    }
  
    .padding-left-right {
        padding: 0;
        border: none !important;
        margin: 0 !important;
    }

    .mt-movil {
        margin-top: 0.2rem
    }

    .btn-calendar {
        white-space: nowrap; 
        width: 11rem; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .label-month {
        font-size: 20px;
    }

    .header-desktop {
         display: none  !important;
    }

    .header-movil {
        display: block !important;
    }

    .header-movil-title {
        display: block !important;
    }

    .header-desktop-title {
        display: block !important;
    }
    .header-desktop-hours {
        display: none !important;
    }

    .header-desktop-text {
        display: none !important;
    }

    .font-title {
        font-size : 8px ;
        font-weight: 700;
        color:  var(--color-border);
        overflow: hidden;display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;   
    }

    .div-body-date {
        padding: 6px;
        position: relative; 
        cursor: pointer;
        opacity : 1; 
        transition: opacity 0.5s
    }

    .container-dates > div:nth-child(7n){
        border-right: none !important
    }

    .width-event > div:nth-child(1) {
        width: 40%;
    }

   .width-event > div:nth-child(2) {
       width: 30%;
   }
   
   .width-event > div:nth-child(3) {
      width: 30%;
   }
}


.font-date-label {
  font-size: 12px;
  display: flex;
  justify-content: center;
  
}

.font-date-label-week {
    font-size: 12px;
    display: flex;
    justify-content: center;
    
  }


 
/* grid */

.container-data {
    width: 100%;
    display: grid ;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 100px; 
}


.border-dates {
    border-right: 1px solid var(--border-div);
    border-bottom: 1px solid var(--border-div);
}
 

/* transition */
 
/* end transition */


.space-between {
  display: flex ;
  justify-content: space-between
}

.disable-div {
    pointer-events: none;
    opacity: 0.4;
    -webkit-transition: opacity  0.5s
}

.block-div {
    opacity: 1;
    -webkit-transition: opacity  0.5s
}

.font-day {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: initial;
    top: 2rem
    
}

.border-top {
    border-top : 0.2rem solid #E84548
}





.div-body-date:hover .font-title {
    color:#95A5A6 !important;
}

.div-body-date-activate {
    background-color: #F0F9FE;
    border-radius: 0.12rem;
    border-left: 2px solid #49ACF0;
    padding: 0px 4px 4px 4px
}

.label-body-date {
    font-size:11px;
    font-weight:700; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;   
}

.border-dates-day {
    border-right: 1px solid var(--border-div);
    border-bottom: 1px solid var(--border-div);
    margin-top: -0.10rem;
    border-top: solid  ;
    border-top-color: #E84548;
    border-top-width: 0.2rem;
 
}

#background-more-than-two > div:nth-child(2) {
    background : #8C8C8C !important;
    opacity: 90%;
    border: 1px solid #406A89  !important;
    border-left: 2px solid #406A89 !important;
    
}
 
.color-count-title {
    color: #326385 !important
}
.container-dates-label-week > div:not(:first-of-type) {
    border-left: 1px solid var(--border-div);
}



 
 
.fade-enter-active, .fade-leave-active{
  transition: opacity .2s
}

.fade-enter, .fade-leave-to {/* .fade-leave-active below version 2.1.8 */
  opacity: 0
}

.fadeView-enter-active, .fadeView-leave-active{
  transition: opacity .1s
}

.fadeView-enter, .fadeView-leave-to {/* .fade-leave-active below version 2.1.8 */
  opacity: 0
}

/* List body */
  .panel-title {
    border-bottom: 1px solid var(--border-div);
  }

  .panel-heading {
      padding: 0;
      border:0;
      font-weight: 600;
  }
  .panel-title >a, .panel-title>a:active{
      display:block;
      padding:15px;
      color:#555;
      font-size:16px;
      font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
      word-spacing:3px;
      text-decoration:none;
  }

  .panel-heading  {
     transition: all 0.5s; 
     margin-left: 2rem;
    
  }
  
  .panel-active  { 
        -webkit-transform: rotate(180deg) translate(0px, 0px);
        -o-transform: rotate(180deg) translate(0px, 0px);
        -ms-transform: rotate(180deg) translate(0px, 0px);
        transform: rotate(180deg) translate(0px, 0px);
  } 
/* end List body */

/* panel */
.color-panel-select {
    color: #AE2660; 
    border: 1px solid #AE2660
}

.border-bottom-list  {
    border-bottom: 1px solid var(--border-div);
    
}

.a-calendar {
    color: #55267C; 
    font-weight:500;
    background:#F3F0F6;
    padding-top:0.8rem;
    padding-bottom:0.8rem
}

.fw-500 {
    font-weight:500;
}




.lighter-text {
    color: #ABB0BE;
  }
  
  .main-color-text {
    color: #6394F8;
  }
  
  nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    font-size: 16px;
  }
  nav .navbar-left {
    float: left;
  }
  nav .navbar-right {
    float: right;
  }
  nav ul li {
    display: inline;
    padding-left: 20px;
  }
  nav ul li a {
    color: #777777;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: black;
  }
  
  .container {
    margin: auto;
    width: 80%;
  }
  
  .badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
  }
  .shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
  }
  .shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
  }
  .shopping-cart .shopping-cart-items {
    padding-top: 20px;
  }
  .shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
  }
  .shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
  }
  .shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }
  .shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
  }
  .shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
  }
  
  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  
  .button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
  }
  .button:hover {
    background: #729ef9;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .separator {
    border-top: 1px solid var(--border-div);
    margin:0
  }

  /* menu */

  .list-menu > div:not(:last-child) {
    border-bottom: 1px solid var(--border-div) ;
    padding-top: 0.5rem;
  }

  .container-menu {
    padding: 0.5rem ;
    font-size: 12px;
    position: relative
  }

  .btn-menu-cancel {
    float: right;
  }

  .body-menu {
    padding: 0rem 1rem 1rem 1rem; 
    max-height: 33rem 
  }


  .div-children-week-font {
    height: 30px;
    position: relative;
    width: 100%;
    font-size: 9px;
  }

  .header-body {

    padding-top:0.4rem; padding-bottom: 0.6rem;
    cursor: pointer;
  }


  .font-list  {
      font-size: 13px;
      font-weight: 500;
      
      width: 100%;
  }

  .font-list-border > div:not(:last-child) {
  
    border-bottom: 1px solid var(--border-div) ;
   
}

.header-list >div:nth-child(1){
    width: 60%;
}

.header-list >div:nth-child(2){
    width: 33%;
}

.header-list >div:nth-child(3){
    width: 33%;
}

.header-list >div:nth-child(4){
    width: 50%;
}
 

.cursor-pointer {
 cursor: pointer;
}

.hover-sub-menu:hover {
    background: #F2F3F4;
}

.color-icon {
    color: #B8B8B8
}

.card-vertical {
    display:block;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-box-orient: vertical;
     
}


.text-title-card-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}

.plr08 {
    padding-left: 0.8rem;
    padding-right: 0.8rem
}

.mlr08 {
    margin-left: 0.8rem;
    margin-right: 0.8rem
}

.mt-list {
    margin-top: 0.7rem
}

.z-100{
    z-index: 100;
}

.z-101{
    z-index: 101;
}

.z-102{
    z-index: 101;
}

 

.media-body {
    padding-top: 0.15rem
}

.btn-save {
    height: 2rem;
    padding-top:0.12rem;
    border-radius: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    cursor: pointer;
}

.btn-alert {
    height: 2rem;
    padding-top:0.25rem;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}


/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
   
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 10000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  /* FLOW: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  /* FLOW: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
  
  
  
  
  
  
  
  
  
  
  /* UNRELATED to tooltips */
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background: #ededed;
  }
  main {
    flex: 1 1 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  aside {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #49b293;
    color: #fff;
    padding: 1em;
  }
  main div {
    text-align: center;
    color: #353539;
  }
  main span {
    padding: .5em 1em;
    margin: .5em;
    display: inline-block;
    background: #dedede;
  }
  
  aside a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: .4em 1em;
  }

  

  .container-list {
    width: 100%;
    display: grid ;
    grid-template-columns: 33.3% 33.3% 33.3% ; 
   
}

.container-list-sub {
  width: 100%;
  display: grid ;
  grid-template-columns: 33.3% 25% 25%  25% ; 
 
}